<nav class="navbar navbar-expand-sm navbar-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="logo-nav" src="/images/logo2.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            </ul>
        <ul class="navbar-nav ml-auto">   
        {{#if user}}
        <li class="nav-item">
            <a class="nav-link" href="/users/logout">Log out</a>
        </li>
        <li class="nav-item"></li>
          <a href="/ideas" class="nav-link">My quotes</a>
          </div>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
        </li>
        {{/if}}
        </ul>
      </div>
    </div>
</nav>