<!DOCTYPE html>
<html lang="es">
<head>
    {{> _head}}
    <title>iQuotes</title>
    {{> _style}}
</head>
<body>
    {{> _navbar}}
    <div class="container">
        {{> _msg}}
        {{> _errors}}
        {{{body}}}
    </div>
    {{> _scripts}}
</body>
</html>