<div class="container-custom">
    <h3 class="ml-5 mt-3">What is iQuotes?</h3>
    <div class="card card-body card-custom mt-3">
        iQuotes is a simple web app in which you can store your favourite quotes. It works as follows: you register an account, you log in, and then you can start adding quotes!
    </div>
</div>