<div class="card card-body add">
  <h3>New quote</h3>
  <form action="/ideas" method="post">
    <div class="form-group mt-2">
      <input placeholder="Author" type="text" class="form-control" name="title" required>
    </div>
    <div class="form-group">
      <textarea placeholder="Add a quote" class="form-control" name="details" required></textarea>
    </div>
    <button type="submit" class="btn btn-form btn-default">Submit</button>
  </form>
</div>