{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<div class="card card-body ml-5 mr-5">
  <h3>Edit quote</h3>
  <form action="/ideas/{{idea.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group mt-2">
      <input placeholder="Author" type="text" class="form-control" name="title" value="{{idea.title}}">
    </div>
    <div class="form-group">
      <textarea placeholder="Add a quote" class="form-control" name="details">{{idea.details}}</textarea>
  
    </div>
    <button type="submit" class="btn btn-default btn-form">Edit</button>
  </form>
</div>