  {{#each ideas}}
  {{#if @first}}
  <div class="text-center">
  <a href="/ideas/add" class="btn-mbl btn btn-lg btn-form btn-plus"><span class="btn-font">New quote</span></a>
  </div>
  {{/if}}  
  <div class="row">
  <div class="col-sm-9">
  <div class="card card-body mt-3">
    </form>
    <p>{{details}}</p>
    <small class="text-left ml-5">{{title}}</small>
    <div class="dropdown">
          <a href="#" class="dropdown-toggle float-right" data-toggle="dropdown"><small></small></a>
          <div class="dropdown-menu">
            <a class="dropdown-item text-center" href="/ideas/edit/{{id}}">Edit</a>
             <form class="dropdown-item text-center" method="post" action="/ideas/{{id}}?_method=DELETE">
            <input class="dropdown-item" type="hidden" name="_method" value="DELETE">
            <input type="submit" class="dropdown-item btn link" value="Delete">
          </div>
      </div>
     </div>
    </div>
    {{#if @first}}
    <div class="col-sm-3 text-center">
    <a href="/ideas/add" class="mt-3 btn-mbl2 btn btn-lg btn-form btn-plus"><span class="btn-font">New quote</span></a>
    </div>
    {{/if}}
  </div>
{{else}}
<div class="card card-body mt-3">
<h5 class="text-center mt-3">Hello {{user.name}}, you haven't posted any quotes yet</h5>
</div>
<div class="text-center">
  <a href="/ideas/add" class="mt-3 btn btn-lg btn-form btn-plus"><span class="btn-font">New quote</span></a>
</div>
{{/each}}