<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center mb-3">
        Account login
      </h3>
      <form method="post" action="/users/login">
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" class="form-control mb-3" required>
          <input type="password" name="password" placeholder="Password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-form">Submit</button>
      </form>
    </div>
  </div>
</div>