<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center mb-3">
        Register account
      </h3>
      <form action="/users/register" method="post">
        <div class="form-group">
          <input type="name" value="{{name}}" placeholder="Name" name ="name" class="form-control mb-3" required>
          <input type="email" value="{{email}}" placeholder="Email" name="email" class="form-control mb-3" required>
          <input type="password" value="{{password}}" placeholder="Password" class="form-control mb-3" name="password" required>
          <input type="password" type="{{password2}}" name="password2" placeholder="Repeat password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-form">Submit</button>
      </form>
    </div>
  </div>
</div>